<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
	<mapper namespace="ProDAO">
	
	
	
	<select id="selectProList" resultType="kr.co.mood.Product.VO.ProVO">
		select * from product
	</select>
	
	<select id="A0selectCategoryProList" resultType="kr.co.mood.Product.VO.ProVO">
	      <![CDATA[
		select * from product where pro_categoryserial like 'A0%'
		      ]]>
	</select>
	<select id="A1selectCategoryProList" resultType="kr.co.mood.Product.VO.ProVO">
	      <![CDATA[
		select * from product where pro_categoryserial like 'A1%'
		      ]]>
	</select>
	
	<select id="B0selectCategoryProList" resultType="kr.co.mood.Product.VO.ProVO">
	      <![CDATA[
		select * from product where pro_categoryserial like 'B0%'
		      ]]>
	</select>
	<select id="B1selectCategoryProList" resultType="kr.co.mood.Product.VO.ProVO">
	      <![CDATA[
		select * from product where pro_categoryserial like 'B1%'
		      ]]>
	</select>
	
	<select id="C0selectCategoryProList" resultType="kr.co.mood.Product.VO.ProVO">
	      <![CDATA[
		select * from product where pro_categoryserial like 'C0%'
		      ]]>
	</select>
	<select id="C1selectCategoryProList" resultType="kr.co.mood.Product.VO.ProVO">
	      <![CDATA[
		select * from product where pro_categoryserial like 'C1%'
		      ]]>
	</select>
	
	
	
	
	<select id="selectProOne" resultType="kr.co.mood.Product.VO.ProVO">
		select * from product where pro_number = #{pro_number}
	</select>
	
	
	   <insert id="insert" parameterType="kr.co.mood.Product.VO.ProVO">
    insert into product 
     (pro_categoryserial,pro_name,pro_maindesc,pro_maindesctitle,pro_subdesc,pro_option1,pro_option2,pro_option3,pro_img1,pro_img2,pro_img3,pro_img4,pro_img5,pro_price) 
     values
     (#{pro_categoryserial},#{pro_name},#{pro_maindesc},#{pro_maindesctitle},#{pro_subdesc},#{pro_option1},#{pro_option2},#{pro_option3},#{pro_img1},#{pro_img2},#{pro_img3},#{pro_img4},#{pro_img5},#{pro_price}); 
  </insert>
  
  <update id="insertSerialNumber" parameterType="kr.co.mood.Product.VO.ProVO">
  	update product set pro_serialnumber = concat(pro_categoryserial,pro_number)
  </update>
</mapper>