@charset "UTF-8";
@font-face {
    font-family: 'SUIT-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
*{
font-family: 'SUIT-Regular', normal;font-weight:900;
}

body {
    height: 100%;
    background: #f5f6f7;
   
}

#logo {
    width: 240px;
    height: 44px;
    cursor: pointer;
}


#content {/*     position: absolute; *//*     left: 50%; *//*     transform: translate(-50%); */width: 600px;margin: 0 auto;  padding: 100px 0 60px;}


.error_next_box {
    margin-top: 9px;
    font-size: 12px;
    color: red;    
    display: none;
}



/* 입력폼 */

input:focus {
    outline: none;
}


h3 {
    margin: 19px 0 8px;
    font-size: 14px;
    font-family: 'SUIT-Regular', normal;font-weight:900;
}



.box {
    display: block;
    width: 100%;
    height: 51px;
    border: solid 1px #dadada;
    padding: 10px 14px 10px 14px;
    box-sizing: border-box;
    background: #fff;
    position: relative;
    
}

.string {
    display: block;
    position: relative;
    width: 100%;
    height: 29px;
    border: none;
    background: #fff;
    font-size: 20px;
    font-family: 'SUIT-Regular', normal;font-weight:400;
}

/* input {
    font-family: Dotum,'돋움',Helvetica,sans-serif;    
} */

.box.stiring_pwd {
    padding-right: 40px;
}

.box.string_pwd_check {
    padding-right: 40px;
}

.idChk{
   display: inline-block;
   height: 50px;
   width: 85px;
   border:none;
   border-radius: 5px;
   background-color: #323232;
   color: white;

}

#bir_wrap {
    display: table;
    width: 100%;
}

#age {
    display: table-cell;
    
    
}

select {
    width: 100%;
    height: 29px;
    font-size: 15px;
    background: #fff url(https://static.nid.naver.com/images/join/pc/sel_arr_2x.gif) 100% 50% no-repeat;
    background-size: 20px 8px;
    -webkit-appearance: none;
    display: inline-block;
    text-align: start;
    border: none;
    cursor: default;
   /*  font-family: Dotum,'돋움',Helvetica,sans-serif; */
}


 


/* 버튼 */

.btn_area {
    margin: 60px 0 91px 0;
}

#btnJoin {
    border: 0;
    cursor: pointer;
    color: white;
    background-color: #323232;
    font-size: 20px;
    font-weight: 400;
  	font-family: 'SUIT-Regular', normal;font-weight:900;
    border-radius: 5px;
}

#btnReset{
   width: 148px;
    padding: 21px 0 17px;
    border: 0;
    cursor: pointer;
    color: white;
    background-color: #323232;
    font-size: 20px;
    font-weight: 400;
   font-family: 'SUIT-Regular', normal;font-weight:900;
    border-radius: 5px;
    margin: 0 73px
}

#btnBack{
   width: 148px;
    padding: 21px 0 17px;
    border: 0;
    cursor: pointer;
    color: white;
    background-color: #323232;
    font-size: 20px;
    font-weight: 400;
   font-family: 'SUIT-Regular', normal;font-weight:900;
    border-radius: 5px;
}

/*이메일*/
.email{
   display: block;
    position: relative;
    width: 100%;
    height: 29px;
    border: none;
    background: #fff;
    font-size: 15px;
    height: 51px;
    border: solid 1px #dadada;
   
}


.correct{
   color : green;
}
.incorrect{
   color : red;
}
 
#mail_check_input_box_true{
    background-color:white;
}

