@charset "UTF-8";
@font-face {
    font-family: 'SUIT-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
*{
font-family: 'SUIT-Regular', normal;font-weight:900;
}
.login {
    width: 100%;
    background-color:#f5f6f7;
}
.form-login {
    width: 400px;
    display: block;
    padding: 5px;
    margin: 0 auto;
    padding: 10px 0;
}
.togglebtn {
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
}
#btn {
    top: 0;
    left: 0;
    position: absolute;
    width: 110px;
    height: 100%;
    background: linear-gradient(to right, #ff105f, #ffad06);
    border-radius: 30px;
    transition: .5s;
}
.social-icons {
    margin: 30px auto;
}
.social-icons img {
    width: 30px ;
    cursor: pointer;
}
.social_login{
	border-top : 1px solid  #c8936ed4;
	margin-top: 20px;
	width: 390px;
	height:170px;
	text-align: center;
	display: inline-block;
}

.input-group {
    
    width: 420px;
    transition: .5s;
}
.input-field {
   
    height:50px;
    width:390px;
    padding: 10px 0;
    border: none;
    border: 1px solid #999;
    outline: none;
    background: transparent;
    background-color: white;
    margin-top: 10px;
}
.submit {
    font-color:white;
    font-size:30px;
    width:390px;
    cursor: pointer;
    display: block;
    margin:auto;
    background: #c8936ed4	;
    border: 0;
    outline: none;
    margin-bottom: 20px;
    margin-top: 20px; 
    
}
.snsname{
	margin-bottom: 10px;
	
}
.checkbox {
    margin: 30px 10px 30px 0;
}


#naverIdLogin{
	width: 150px;
	height:50px;
	display: inline-block;
}

/* .login_link_box{
	 list-style-type: none;
} */
.login_link_box{
	margin: 0;
    padding: 0;
    text-align: center;

}
.login_li{
	display:inline-block;
	margin-left: 30px;
}


.box_list_txt{
	display: block;
    margin-top: 15px;

}

.box_list{
	display: inline-block;
    margin: 0 20px;
    vertical-align: middle;
}